# KiWin - A small GUI for the embedded system
# Copyright (C) <2007>  Wei Hu <wei.hu.tw@gmail.com>
# 
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

include $(MakDir)/Rules.config.share

##############################

LIBS		      = -lm -lpthread -lkwpng -lkwz -lkwfreetype -lkwgdbm -lkwlog -lkwregfile -lkwxpm -lkwcolor
LIBS_G		      = -lm -lpthread -lkwpng_g -lkwz_g -lkwfreetype_g -lkwgdbm_g -lkwlog_g -lkwregfile_g -lkwxpm_g -lkwcolor_g

SUBDIRS		      = src/kwgscli \
			src/kwgssrv \
			src/kwgssrv/kbd \
			src/kwgssrv/mouse \
			src/kwgssrv/screen \
			src/gdbm \
			src/kwlog \
			src/png \
			src/zlib \
			src/kwxpm \
			src/kwregfile \
			src/kwcolor \
			src/freetype/autohint \
			src/freetype/base \
			src/freetype/cache \
			src/freetype/pcf \
			src/freetype/raster \
			src/freetype/sfnt \
			src/freetype/smooth \
			src/freetype/truetype \
			src/freetype/winfonts \
			src/freetype/gzip

#			src/Program_files/kwIME/tools \
#			src/Program_files/kwIME/src \
#                       src/Program_files/demo1 \

PROGRAMDIRS           = src/Program_files/kwRegFile \
			src/Program_files/kwRootWnd \
			src/Program_files/kwWManager \
			src/Program_files/demo2

##############################

CFLAGS		      = -Wall -O2 $(INCLUDE_PATH) $(DEFINE_MACRO)
CFLAGS_G	      = -Wall -g3 -gdwarf-2 $(INCLUDE_PATH) $(DEFINE_MACRO_G)

LDFLAGS		      = -L$(LibDir)

##############################

KIWIN			      = $(SrvBinDir)/kiwin
KIWIN_G			      = $(SrvBinDir)/kiwin_g

##############################

KwGsSrvMainObjFiles	      = $(ObjDir)/kwgssrv_clip.o \
				$(ObjDir)/kwgssrv_region.o \
				$(ObjDir)/kwgssrv_draw.o \
				$(ObjDir)/kwgssrv_event.o \
				$(ObjDir)/kwgssrv_gs.o \
				$(ObjDir)/kwgssrv_io.o \
		        	$(ObjDir)/kwgssrv_main.o \
				$(ObjDir)/kwgssrv_wnd.o \
				$(ObjDir)/kwgssrv_mouse_process.o \
				$(ObjDir)/kwgssrv_kbd_process.o \
				$(ObjDir)/kwgssrv_cursor.o \
				$(ObjDir)/kwgssrv_wmanager.o

KwGsSrvMainObjFiles_g	      = $(ObjDir)/kwgssrv_clip.go \
				$(ObjDir)/kwgssrv_region.go \
				$(ObjDir)/kwgssrv_draw.go \
				$(ObjDir)/kwgssrv_event.go \
				$(ObjDir)/kwgssrv_gs.go \
				$(ObjDir)/kwgssrv_io.go \
		        	$(ObjDir)/kwgssrv_main.go \
				$(ObjDir)/kwgssrv_wnd.go \
				$(ObjDir)/kwgssrv_mouse_process.go \
				$(ObjDir)/kwgssrv_kbd_process.go \
				$(ObjDir)/kwgssrv_cursor.go \
				$(ObjDir)/kwgssrv_wmanager.go

##############################

KwGsSrvMouseObjFiles          = $(ObjDir)/kwgssrv_mouse.o
KwGsSrvKbdObjFiles            = $(ObjDir)/kwgssrv_kbd.o
KwGsSrvScreenObjFiles         = $(ObjDir)/kwgssrv_screen.o

KwGsSrvMouseObjFiles_g        = $(ObjDir)/kwgssrv_mouse.go
KwGsSrvKbdObjFiles_g          = $(ObjDir)/kwgssrv_kbd.go
KwGsSrvScreenObjFiles_g       = $(ObjDir)/kwgssrv_screen.go

##############################

KwGsSrvObjFiles		      = $(KwGsSrvKbdObjFiles) \
				$(KwGsSrvMouseObjFiles) \
				$(KwGsSrvScreenObjFiles) \
				$(KwGsSrvMainObjFiles)

KwGsSrvObjFiles_g	      = $(KwGsSrvKbdObjFiles_g) \
				$(KwGsSrvMouseObjFiles_g) \
				$(KwGsSrvScreenObjFiles_g) \
				$(KwGsSrvMainObjFiles_g)
